<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhxy.sxs.demo.mapper.AccessLogMapper" >
  <resultMap id="BaseResultMap" type="com.nhxy.sxs.demo.entity.AccessLog" >
    <constructor >
      <idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UA" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="access_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="method" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, user_id, user_name, ip, UA, access_time, method
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from access_log
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from access_log
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nhxy.sxs.demo.entity.AccessLog" >
    insert into access_log (Id, user_id, user_name, 
      ip, UA, access_time, 
      method)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{ua,jdbcType=VARCHAR}, #{accessTime,jdbcType=TIMESTAMP}, 
      #{method,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nhxy.sxs.demo.entity.AccessLog" >
    insert into access_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="ua != null" >
        UA,
      </if>
      <if test="accessTime != null" >
        access_time,
      </if>
      <if test="method != null" >
        method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ua != null" >
        #{ua,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhxy.sxs.demo.entity.AccessLog" >
    update access_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ua != null" >
        UA = #{ua,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        access_time = #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhxy.sxs.demo.entity.AccessLog" >
    update access_log
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      UA = #{ua,jdbcType=VARCHAR},
      access_time = #{accessTime,jdbcType=TIMESTAMP},
      method = #{method,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>