<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhxy.sxs.demo.mapper.FamousMapper" >
  <resultMap id="BaseResultMap" type="com.nhxy.sxs.demo.mapper.FamousMapper" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, title, filename
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from famous
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllFamous" resultType="com.nhxy.sxs.demo.entity.Famous">
    select * from famous
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from famous
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nhxy.sxs.demo.entity.Famous" >
    insert into famous (Id, title, filename
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nhxy.sxs.demo.entity.Famous" >
    insert into famous
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="filename != null" >
        filename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhxy.sxs.demo.entity.Famous" >
    update famous
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhxy.sxs.demo.entity.Famous" >
    update famous
    set title = #{title,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>