<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhxy.sxs.demo.mapper.HomePageContentMapper" >
  <resultMap id="BaseResultMap" type="com.nhxy.sxs.demo.entity.HomePageContent" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="city_type" property="cityType" jdbcType="INTEGER" />
    <result column="small_title" property="smallTitle" jdbcType="VARCHAR" />
    <result column="small_title_content" property="smallTitleContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, city_type, small_title, small_title_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home_page_content
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCityType" parameterType="java.lang.Integer"  resultMap="BaseResultMap" >
    select *
    from home_page_content
    where city_type = #{cityType,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home_page_content
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nhxy.sxs.demo.entity.HomePageContent" >
    insert into home_page_content (Id, city_type, small_title, 
      small_title_content)
    values (#{id,jdbcType=INTEGER}, #{cityType,jdbcType=INTEGER}, #{smallTitle,jdbcType=VARCHAR}, 
      #{smallTitleContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nhxy.sxs.demo.entity.HomePageContent" >
    insert into home_page_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="cityType != null" >
        city_type,
      </if>
      <if test="smallTitle != null" >
        small_title,
      </if>
      <if test="smallTitleContent != null" >
        small_title_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityType != null" >
        #{cityType,jdbcType=INTEGER},
      </if>
      <if test="smallTitle != null" >
        #{smallTitle,jdbcType=VARCHAR},
      </if>
      <if test="smallTitleContent != null" >
        #{smallTitleContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhxy.sxs.demo.entity.HomePageContent" >
    update home_page_content
    <set >
      <if test="cityType != null" >
        city_type = #{cityType,jdbcType=INTEGER},
      </if>
      <if test="smallTitle != null" >
        small_title = #{smallTitle,jdbcType=VARCHAR},
      </if>
      <if test="smallTitleContent != null" >
        small_title_content = #{smallTitleContent,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhxy.sxs.demo.entity.HomePageContent" >
    update home_page_content
    set city_type = #{cityType,jdbcType=INTEGER},
      small_title = #{smallTitle,jdbcType=VARCHAR},
      small_title_content = #{smallTitleContent,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>