<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nhxy.sxs.demo.mapper.ViewMapper" >
  <resultMap id="BaseResultMap" type="com.nhxy.sxs.demo.entity.View" >
    <constructor >
      <idArg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="filename" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_view_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Id, title, filename, parent_view_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from view
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllView" resultMap="BaseResultMap">
    select *
    from view
  </select>
  <select id="getAllParentView" resultMap="BaseResultMap">
    select *
    from view
    where parent_view_id is null
  </select>
  <select id="getAllSubView" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select *
    from view
    where parent_view_id is not null and parent_view_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from view
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nhxy.sxs.demo.entity.View" >
    insert into view (Id, title, filename, 
      parent_view_id)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{parentViewId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nhxy.sxs.demo.entity.View" >
    insert into view
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="parentViewId != null" >
        parent_view_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="parentViewId != null" >
        #{parentViewId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nhxy.sxs.demo.entity.View" >
    update view
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="parentViewId != null" >
        parent_view_id = #{parentViewId,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nhxy.sxs.demo.entity.View" >
    update view
    set title = #{title,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      parent_view_id = #{parentViewId,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>